
<div class="container">

  <div class="row">
    <h1>   </h1>
  </div>
  <div class="row">
    <h1>   </h1>
  </div>
  <div class="row">
    <h1>   </h1>
  </div>
  <div class="row">
    <h1>   </h1>
  </div>
  <div class="row">
    <h1>   </h1>
  </div>
  <div class="row">
    <h1>   </h1>
  </div>
  <div class="row">
    <h1>   </h1>
  </div>

  <div class="row">
    <div class="col-md-8" style="background-color: #FFFFFF;padding-bottom: 90px;padding-top: 90px">
      <div style="font-size: 50px; padding-left: 130px">
        <%= image_tag "logo.png" %>
      </div>

    </div>

    <div class="col-md-4">
      <h1>在线选课系统</h1>
      <p>这个样本系统是基于国科大研究生课程(高级软件工程)开发的项目,目的是帮助入门者学习RoR(Ruby on Rails),这是适合新学者的入手的第一个项目</p>
      <p>我们为该选课系统添加了如下功能:</p>
      <ul>

        <li class="text-danger">
          添加课程搜索功能
        </li>
        <li class="text-danger">
          个人课程表
        </li>
        <li class="text-danger">
          改进添加课程的输入
        </li>
        <li class="text-danger">
          添加课程评估
        </li>
        <li class="text-danger">
          Excel表格学生成绩导入与导出
        </li>
        <li class="text-danger">
          Excel表格选课结果导出
        </li>
        <li class="text-danger">
          统计选课学分
        </li>
        <li class="text-danger">
          处理选课课程冲突
        </li>
      </ul>

    </div>

  </div>

  <hr>
  <div class="row">
    <h1>   </h1>
  </div>
  <div class="row">
    <h1>   </h1>
  </div>
  <div class="row">
    <h1>   </h1>
  </div>
  <div class="row">
    <h1>   </h1>
  </div>
  <div class="row">
    <h1>   </h1>
  </div>
  <div class="row">
    <h1>   </h1>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="center-block"  style="width:100px"><a class="btn btn-info" href="http://www.ucas.ac.cn/">中国科学院大学</a></div>
    </div>

    <div class="col-md-4">
      <div class="center-block"  style="width:150px"><a class="btn btn-info" href="http://onestop.ucas.ac.cn">国科大综合信息网</a></div>
    </div>

    <div class="col-md-4">
      <div class="center-block"  style="width:100px"><a class="btn btn-info" href="https://github.com/1237654/SEBigworkCS">GitHub</a></div>
    </div>

  </div>

</div>
